body{
    background-color: skyblue;
}

.select
{
    width: 400px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    padding-left: 100px;
    
}

h1

{
    font-weight: bold;
    font-size: 50px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button

{
    margin-top: 150px;
    border: 2px solid antiquewhite;
    width: 900px;
    height: 300px;
    border-radius: 15px;
}